@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply bg-secondary; /* Default background for smaller screens */
    }
    
    @screen md {
        html {
            @apply bg-secondary;
            /* @apply bg-black;     */
            /* @apply bg-[#030303] */
        }
    }
}

@font-face {
    font-family: Argon;
    src: url("/fonts/MonaspaceArgon-SemiBold.woff");
}

@font-face {
    font-family: Jetbrains;
    src: url("/fonts/JetBrainsMono-Bold.woff2")
}

html {
    font-size: 7px;
    scrollbar-gutter: stable;

    @screen md {
        font-size: 9px;
    }
    @screen lg {
      font-size: 11px;
    }
    @screen xl{
        font-size: 13px
    }
    @screen 2xl{
        font-size: 15px;
    }
  }

